@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('/fontes/idroid.otf') format('opentype');
}

body {
    margin: 0px;
    background-color: #ebe7c5;
   
    
}
h2 {
    margin-left: 10px;
    font-family: idroid;
    color: rgb(24, 85, 24);
    background-image: linear-gradient(90deg,rgba(86, 226, 86, 0.61),white);
    font-size: 1.7em;
    text-indent: 8px
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

main strong {
    color: rgb(3, 92, 3);
    font-weight: bold;
}
img {
    width: 100%;
}
main { /* Conteúdo principal*/
    background-color: white;
    margin: auto;
    padding: 1px;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.603);
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
}

p { /* paragrafos do conteudo principal*/
    font-family:"Roboto Condensed", sans-serif,cursive ;
    font-size: 18px;
    text-indent: 40px;
    line-height: 1.8em;
    letter-spacing: 1.3px;
    padding-left: 15px;
    margin: 20px 0px;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1 {
    margin-left: 20px;
    font-family: 'idroid';
    color: rgb(6, 87, 6);
    font-size: 2em;
    
}
header > nav > a { /*Menu do cabeçalho */
    color: rgb(80, 226, 141);
    text-decoration: none;
    font-family: sans-serif,cursive;
    font-weight: 900;
    padding: 10px;
    font-size: 13px;
    position: relative;
    top: 10px;
    width: 100%;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.226);
    border-radius: 5px;
    transition-duration: .4s;
}
header> nav > a:hover {
    background-color: rgb(85, 185, 110);
    color: rgb(30, 66, 44);
}
main > article > p > a {
    text-decoration: none;
    background-color: rgb(74, 226, 137);
    color: rgb(17, 63, 17);
    font-weight: 700;
    transition-duration: .3s;

}
main > article >p > a::after {
    content: '🔗';
}
main >article > p > a:hover {
    background-color: #3384FF;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-size: 25px;
}

div.video {
    background-color: rgb(7, 109, 53);
    margin: 0px -1px 30px -1px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90% ;
    height: 90%;
}

header > h1 {
    text-align: center;
    font-family:sans-serif;
    color:white;
    font-size: 3em;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.445);
}
header > p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    color: white;
}
header {
    padding: 25px;
    margin: 0px;
    min-height: 150px;
    background-image: linear-gradient(to bottom , rgb(84, 204, 100) , rgb(24, 66, 37));
}

aside > h3 {
    color: white;
    background-color: rgb(0, 95, 0);
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    height: 40px;
    padding-top: 15px;
    border-radius: 10px 10px 0px 0px;
}

aside {
    background-color: rgba(105, 240, 166, 0.726);
    margin-left: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.37);
}

aside > ul  {
    columns: 2;
    list-style-position: inside;
    
}

aside > ul > li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.8;
    font-size:1.2em ;
    list-style-type: '\2714\00A0\00A0';
}
article > aside > p > a {
    text-decoration: none;
    background-color: rgb(24, 233, 24);
    color: rgb(17, 63, 17);
    font-weight: 700;
    transition-duration: .3s;
}
article > aside > p > a:hover {
    background-color: #3384FF;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-size: 20px;
}
aside > p > a::after {
    content: '🔗';
}

footer {
    background-color: rgb(7, 121, 51);
    text-align: center;
    margin-top: 50px;
}
footer > p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    ;
    text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.658);
    transition-duration: 0.6s;
    
}
footer > p:hover {
    background-color: black;
    font-size: 30px;
    text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.699);
}

 footer > p > a {
    text-decoration: none;
    font-weight: 900;
    color: white;
    transition-duration: 0.3s;
}

footer > p > a:hover {
    background-color: rgb(60, 68, 145);
    color: aqua;
    text-decoration: underline;
    font-size: 32px;
    border-radius: 5px;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.39);
}